*{
	box-sizing:border-box;
	margin:0;
}
body{
	font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav-container {
	background: #FFFFFA;
box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
height: 72px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

Nav {
	dispaly: flex;
	align-item: center;
	justify-content: space-between;
	height: 72px;
}

nav ul {
display: flex;
}
nav.logo {
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 800;
color: #021718;
}
.nav item li{
	list-style:none;
	margin-right:100px;

}
.nav-item li:nth-last-of :nth-of-type(1){
	margin: 0;
}
.nav-items li a{
	color: #021718;
	font-family: Poppins;
  font-size: 24px;
  font-style: normal;
	text-decoration: none;
}
/*Hidden Items */
.search- box{
	display:none;
}